* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
    width: 1600px;
    font-family: 'Roboto', sans-serif;
}

.section, .menu, .footer{
    width: 1600px;
    padding-left: 230px;
    padding-right: 230px;
}

/* style for header*/

header {
    height: 750px;
}


/* style for menu*/

.menu {
    height: 100px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    margin-right: 230px;
}

#logo-link {
    border: none;
}

.menu a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #777777;
    margin-right: 40px;
}

.menu a:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

.img {
    margin-left: 230px;
}


/* style for hero-header*/

.hero-header {
    height: 650px;
    background: url(../index_img/hero_bg.jpg) no-repeat top center /cover;
    box-shadow: inset 0px 0px 277px 3px #4c3f37;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: block;
    text-align: center;
}

.title h1 {
    width: 700px;
    height: 56px;
    background-color: #000000;
    color: #ffffff;
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}

.title h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 7.2px;
}

.button-arrow-left,
.button-arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
}

.button-arrow-primary {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}

.button-arrow-left {
    margin-left: 115px;
    padding-right: 8px;
}

.button-arrow-right {
    margin-right: 115px;
    padding-left: 8px;
}


/*style for hero*/

.hero {
    height: 1560px;
}


/* style for menu*/

.section-menu {
    height: 60px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

.small-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    color: #777777;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.link:hover {
    color: #000000;
    border-bottom: 1px solid #000;
}


/*style for cards*/

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #000;
    width: 360px;
}

.card1{
    margin-top: 0px;
}

.card4 {
    margin-top: -70px;
}

.card5 {
    margin-top: -170px;
}

.card6{
    margin-top: 30px;
}

.card7{
    margin-top: -70px;
}

.card8{
    margin-top: -70px;
}

.card9{
    margin-top: 30px;   
}

.card10{
    margin-left: 389px;
    margin-top: -170px;
}

.hero-button{
    width: 125px;
    height: 30px;
    background-color: #959595;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 20.57px;
    text-transform: uppercase;
    letter-spacing: 0.76px;
    border: none;
    text-decoration: none;
    margin-left: 507px;
    margin-top: 35px;
}

/*style for footer*/
.footer{
    height: 300px;
    box-shadow: 0 -3px 5px 1px rgba(163, 163, 163, 0.1);
    background-color: #ffffff;
}

.footer-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    height: 145px;
}

.social-links{
    height: 60px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.7);
    border-top: 1px solid rgba(225, 225, 225, 0.7);
}

.social{
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.7px;
    margin-right: 50px;
}

.copyright{
    height: 95px;
    color: #9c9c9c;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.copyright span{
    color: #000000;
    letter-spacing: 0.33px;
}

@media(max-width: 1200px){
    .header{
        width: 992px;
    }

    .menu{
        width: 992px;
    }

    .section{
        width: 992px;
    }

    .footer{
        width: 992px;
    }

    .card{
        width: 260px;
    }
    .navbar{
        display: none;
    }
}

@media (max-width: 992px){
    .card{
      width: 48%;
    }
    .navbar{
        display: none;
    }
    .card{
        width: 200px;
    }
}