* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 150px;
}


/* style for header*/

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

header {
    background-color: #fff;
    height: 80px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
}

.navbar a {
    text-decoration: none;
    color: #777777;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 35px;
}

.navbar a:hover {
    color: #000;
    border-bottom: 3px solid #000;
}

.hero-bg {
    width: 100%;
    background: url(../index_img/hero_bg.jpg) no-repeat top center/cover;
    background-size: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
}

.hero h1 {
    height: 54px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 300;
    line-height: 54px;
    background: #000;
    letter-spacing: 4.8px;
}

.hero h3 {
    width: 100%;
    height: 13px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 7.2px;
}


/* style for hero*/

.small-navbar {
    height: 60px;
    width: 100%;
    display: block;
    margin-top: 35px;
}

.small-navbar a {
    text-decoration: none;
    color: #777777;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 15px;
}

.small-navbar a:hover {
    color: #000;
    border-bottom: 3px solid #000;
}

.products {
    margin-top: 30px;
}

.product-box img {
    width: 100%;
}

.product-4 {
    margin-top: -4%;
}

.product-5 {
    margin-top: -12.5%;
}

.product-6 {
    margin-top: 4%;
}

.product-7,
.product-8 {
    margin-top: -4%;
}

.product-9 {
    margin-top: 4%;
}

.product-10 {
    margin-left: 33.3%;
    margin-top: -12%;
}


/* style for footer*/

.footer {
    height: 300px;
    width: 100%;
    margin-top: 70px;
    background-color: #fff;
    box-shadow: 0 -3px 5px 1px rgba(163, 163, 163, 0.1);
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.copyright {
    height: 95px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.social-links a {
    text-decoration: none;
    color: #777777;
    font-size: 20px;
    margin-right: 40px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    color: #9c9c9c;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.33px;
}

.small_copyright-text {
    color: #000000;
}

@media(max-width:992px) {
    .container {
        padding: 0 100px;
    }
    .navbar a {
        margin-right: 15px;
    }
    .hero-bg {
        height: 350px;
    }
    .hero {
        height: 350px;
    }
    .hero h1 {
        font-size: 30px;
        letter-spacing: 4px;
    }
    .hero h3 {
        font-size: 15px;
        letter-spacing: 7.2px;
    }
    .logo-hide {
        display: none;
    }
    .footer {
        height: 75%;
    }
    .social-links a {
        font-size: 15px;
    }
    .copyright-text {
        font-size: 12px;
    }
}

.card4 {
    margin-top: -148px;
}

@media(max-width:768px) {
    .container {
        padding: 0 50px;
    }
    .small-navbar a {
        font-size: 12px;
    }
}

@media(max-width:500px) {
    #menu-btn {
        display: block;
        float: right;
        margin-top: -35px;
    }
    .logo-hide {
        display: block;
        margin-bottom: -100px;
    }
    .navbar {
        display: none;
    }
    .row {
        margin: 0;
    }
    .container {
        padding: 0 0;
    }
    .navbar {
        width: 100%;
        margin-left: 8px;
    }
    .navbar a {
        font-size: 12px;
    }
    .hero-bg {
        height: 200px;
    }
    .hero h1 {
        font-weight: 400;
        margin-top: -150px;
        font-size: 18px;
        letter-spacing: 6px;
    }
    .hero h3 {
        font-size: 10px
    }
    .small-navbar {
        height: 60px;
        width: 100%;
        display: block;
        margin-top: 35px;
    }
    .small-navbar a {
        font-size: 12px;
        line-height: 24px;
        margin: 0 10px;
    }
    .small-navbar img {
        height: 25px;
    }
    .product-box {
        height: 80%;
        width: 70%;
        margin: 15px 15px 15px 60px;
    }
    .footer-logo {
        height: 100px;
    }
    .social-links a {
        margin-right: 30px;
    }
    .copyright {
        height: 65px;
    }
}